/*background*/
.bg-image {
    background-image: url("images/image-hero-desktop.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 28vw;
}

.bg-gray-100 {
    background: #e1e1e1;
}

.primary {
    background: #3CB4AB;

}

/**/
/*font-weight*/
.font-weight-bold {
    font-weight: 800;
}

.font-weight-semibold {
    font-weight: 700;
}

/**/
/*padding*/
.pr-10 {
    padding-right: 10rem;
}

.pr-6 {
    padding-right: 2rem;
}

.p-6 {
    padding: 3.5rem;
}

.p-7 {
    padding: 2rem;
}

.p-10 {
    padding: 4rem;
}

.pl-1 {
    padding-left: 0.5rem;
}
.pl-6{
    padding-left: 1rem;
}
.pl-11{
    padding-left: 1.5rem;
}
.pl-14 {
    padding-left: 2.5rem;
}

.pl-10 {
    padding-left: 10rem;
}

.pl-7 {
    padding-left: 2rem;
}

.pl-8 {
    padding-left: 0.3rem;
}

.pt-6 {
    padding-top: 3rem;
}

.pb-05 {
    padding-bottom: 0.5rem;
}

.pb-6 {
    padding-bottom: 3rem;
}

.pb-7 {
    padding-bottom: 1rem;
}

.mb-6 {
    margin-bottom: 2rem;
}

/**/
/*font-size*/
.text-xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.text-md {
    font-size: 1.25rem;
    line-height: 1.75rem;
}
.text-base{
    font-size: 1rem;
    line-height: 1.5rem;
}
.text-2xl{
    font-size: 1.5rem;
    line-height: 2rem;
}
/**/
/*color*/
.text-gray {
    color: #6e6767;
}

.text-darkCyan {
    color: #147B74FF;
}
.text-lightblue{
    color: #3CB4ABFF !important;
}
.text-section:hover {
    color: #3CB4ABFF
}
/**/
.list-style {
    list-style: none;
}

.main-section {
    background: white;
    width: 43%;
    position: absolute;
    right: 34.5rem;
    top: 24rem;
    border-radius: 15px;
}

.button {
    background: #3CB4ACFF;
    border: 0;
    border-radius: 9999px;
    color: white;
    height: 3rem;
    width: 10rem;
}

.bookmark {
    border-radius: 9999px;
    background: lightgray;
    color: #858585;
    display: flex;
    width: 11rem;
    cursor: pointer;
    user-select: none;

}

.mastercraft-logo {
    position: absolute;
    right: 24rem;
    bottom: 16.5rem;
}

.analysis-section {
    background: white;
    width: 43%;
    position: absolute;
    right: 34.5rem;
    top: 43.5rem;
    border-radius: 15px;
    padding-bottom: 2rem;
}

.line {
    border-right: 2px solid gray;
    height: 4rem;
    padding-right: 2rem;
}

.loading {
    height: 0.625rem;
    margin-bottom: 1rem;
    margin-left: 2.5rem;
    margin-right: 2rem;
    display: flex;
    border-radius: 0.25rem;
    background: #e0e0e0;

}

.rounded-lg {
    border-radius: 0.25rem;
}

.rounded-xxl {
    border-radius: 0.75rem;
}

.about-section {
    background: white;
    width: 43%;
    position: absolute;
    right: 34.5rem;
    top: 60.8rem;
    border-radius: 15px;

}

.border {
    border: 6px solid gray;
}

.backthis-project {
    background: white;
    width: 43%;
    position: absolute;
    right: 34.5rem;
    top: 24rem;
    border-radius: 15px;
}

.pointer {
    cursor: pointer;
}
.w-7{
    width: 1.75rem;
}
.h-7{
    height: 1.75rem;
}
.w-39{
    width: 36rem;
}
.bamboostand-left{
    position: absolute;
    right: 10.8rem;
    top: 25.3rem;
}
.bamboostand-left-opened{
    position: absolute;
    right: 10.8rem;
    top: 25.3rem;
}
.rounded-full{
    border-radius: 9999px;
}
.w-24{
    width: 6rem;
}
.h-12{
    height: 3rem;
}
.border-check:hover{
    border-style: solid;
    border-color:#147B74FF;
}
.border-gray{
    border: 1px solid lightgray;
}
.dollar{
 position: relative;
    right: 5.4rem;
    top: 13px;
}
.opacity-50{
    opacity: 0.5;
}
.blackedition-left{
    position: absolute;
    top:41.5rem;
    right: 10.8rem;
}
.blackedition-left-opened{
    position: absolute;
    right: 10.8rem;
    top: 49.6rem;
}
.mahogany-left{
    position: absolute;
    bottom:11rem;
    right: 10.8rem;
}
.mahogany-left-opened{
    position: absolute;
    bottom:19.05rem;
    right: 10.8rem;
}